body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: red;
}
.about-img {
    width:300px;
    height:400px
    ;}
.navbar, .navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: blue;
}

div.navbar-brand {
    font-size: 1.5em;
    font-weight: 700;
    padding: 0.5em;
    margin-bottom: 2em;
}

.navbar .navbar-brand > .nabear-item, 
.navbar .navbar-brand > .navbar-item:hover {
    display: inline-block;
}

main {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 30em;
    margin-right: 30em;
}

my-pic {
    clip-path: circle(50% at 50% 50%);
    width: 100%;
}

.label {
    text-align:left
}

footer.footer {
    /* background-color: rgb(255, 255, 255); */
    background-color: blueviolet;
}

.imgSize {
    width: 600px;
    height: 200px;
}



@media screen and (max-width: 768px) {
    main {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}